{% extends "base.html" %}

{% block content %}

<html>
    <div class="container border border-light" style="height: 100vh">
        <div class="justify-content-center row pb-5">
            <p class="h1 text-center" style="font-size: 200px">Discover</p>
            <p class="text-center h3">Over 30,000 games to explore on both PC and Switch!</p>
        </div>

        <div class="justify-content-center row pb-5">
            <button type="button" class="btn btn-dark border border-light" href="/Explore" style="font-size: 100px">Explore</button>
        </div>
    </div>
</html>

{% endblock %}